.footer {
  background-color: #001A57; /* 배경색 */
  color: white;
  padding: 0 0 20px 0;
  text-align: center;
  font-size: 10px;
  line-height: 1.2; /* 줄 간격을 줄여서 텍스트 간격을 좁게 */
}

.footer .top-line {
  border-top: 1px solid rgba(255, 255, 255, 0.7); /* 하얀색 선 투명도 70% */
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 10px; /* 좌측 여백 추가 */
  margin-right: 10px; /* 우측 여백 추가 */
}

.footer-text {
  margin: 0; /* 텍스트 간격 최소화 */
  padding: 5px 0; /* 위아래 패딩 5px */
  font-size: 10px;
}

@media (max-width: 720px) {
  .footer {
    font-size: 8px; /* 작은 화면에서 폰트 크기 줄이기 */
  }

  .footer .top-line {
    margin-left: 0; /* 작은 화면에서 좌측 여백 없애기 */
    margin-right: 0; /* 작은 화면에서 우측 여백 없애기 */
  }

  .footer-text {
    font-size: 8px; /* 작은 화면에서 폰트 크기 줄이기 */
    padding: 3px 0; /* 작은 화면에서 위아래 패딩 줄이기 */
  }
}
