.AnniRecom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #001A56;
    color: white;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 570px;
    padding: 20px;
}

.recomlogo {
    display: flex;
    justify-content: flex-start;
    width: 250px;
    height: auto;
}

.recomlogo img {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 0px;
}

.sidebar-toggle {
    background: transparent;
    border: none;
    color: white;
    font-size: 52px;
    cursor: pointer;
    padding: 0;
    margin-left: 20px;
}

.greetingText {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.banners {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 공간을 양쪽 끝으로 배치 */
    width: 550px;
    height: 100px;
    background: rgba(210, 210, 210, 0.53);
    margin-top: 5px;
    cursor: pointer;
    overflow: hidden;
}

.banner-text {
    font-size: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 60%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-left: 20px;
}

.banner-image {
    width: 50%;
    height: 130%;
    object-fit: cover;
}

.banner-1 .banner-image {
    width: 50%;
    height: 120%;
}

.banner-2 .banner-image {
    width: 50%;
    height: 120%;
}

.banner-3 .banner-image {
    width: 100%;
    height: 140%;
}

.banner-4 .banner-image {
    width: 80%;
    height: 100%;
}

.banner-5 .banner-image {
    height: 100%;
}

.banner-6 .banner-image {
    width: 100%;
    height: 170%;
}

.banner-7 .banner-image {
    height: 100%;
}

.banner-8 .banner-image {
    height: 160%;
}

.banner-9 .banner-image {
    height: 110%;
}

.banner-10 .banner-image {
    height: 100%;
}

.banner-text div:first-child {
    font-size: 15px;
    margin-bottom: 5px;
}

.banner-text div:last-child {
    font-size: 17px;
    font-weight: bold;
}

.moviesContainer {
    margin-top: 5px;
    width: 100%;
    max-width: 600px;
}

.movieSwiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    margin-left: 4px;
}
