.popupContent p {
  color: white; /* 텍스트 색상 하얀색으로 변경 */
}

.popupContent button {
  display: block;
  margin: 40px auto 0; /* 버튼을 가운데 정렬 */
}

.movie-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  width: 130px;
  max-width: 400px;
}

.movie-info {
  height: 48px;
  display: grid;
  grid-template-columns: auto repeat(4, minmax(20px, auto));
  grid-template-rows: 18px 18px;
  gap: 2px;
  align-items: center;
  background: #2F4881;
  color: white;
  width: 100%;
  padding: 6px 6px;
  box-sizing: border-box;
}

.movie-poster-banner {
  width: 130px;
  height: 170px;
}

.movie-title {
  grid-column: 1;
  grid-row: 1;
  font-size: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.flatrate-logos {
  grid-column: 2 / span 4;
  display: flex;
  justify-content: start;
}

.flatrate-logo {
  width: 15px;
  height: 15px;
  object-fit: contain;
  margin-left: 5px;
}

.movie-rating {
  grid-column: 1 / 5;
  grid-row: 2;
}

.add-button {
  font-size: 20px;
  margin-top: 0px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: white;
  grid-column: 5;
  grid-row: 2;
  justify-self: end;
  line-height: 1;
  padding: 4px;
  cursor: pointer;
}

.bannerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.movie-rating .star {
  color: white;
  font-size: 13px;
  margin: 1px;
}

.movie-rating .star.filled {
  color: gold;
}

@media (max-width: 720px) {
  .bannerGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
