.myalrPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #001A56;
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: relative;
}

.myPageLogo {
  height: 50px;
}

.my-sidebar-toggle {
  position: absolute;
  right: -30px;
  top: 30px;
  background: transparent;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
  padding: 0;
}

.my-searchIcon {
  position: absolute;
  right: 20px;
  color: white;
  margin-top: -10px;
  cursor: pointer;
  width: 26px;
}

.myPageTitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px 0;
}

.navButton {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navButton:hover, .navButton.active {
  background-color: #FBE64D;
  color: black;
}

.movieGrid {
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.movieGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.loading, .noMovies {
  text-align: center;
  margin-top: 50px;
  color: white;
}

@media (max-width: 720px) {
  .myPageTitle {
    font-size: 17px;
  }

  .navButtons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navButton {
    width: 100%;
  }

  .movieGridContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
