.myalrPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #001A56;
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: relative;
}

.myPageLogo {
  height: 50px;
}

.arl-sidebar-toggle {
  position: absolute;
  right: 50px;
  top: 30px;
  background: transparent;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
  padding: 0;
}

.arl-searchIcon {
  position: absolute;
  right: 100px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  width: 26px;
}

.myPageTitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.navButtons {
  display: flex;
  justify-content: space-between; /* 버튼 간격 유지 */
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px 0;
}

.navButton {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  max-width: calc(33.33% - 10px); /* 가로로 배치된 버튼의 최대 너비 */
  margin: 0 5px; /* 버튼 간격 추가 */
}

.navButton:hover, .navButton.active {
  background-color: #FBE64D;
  color: black;
}

.movieGrid {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.movieGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 500px; /* 최대 너비를 500px로 설정 */
}

.loading, .noMovies {
  text-align: center;
  margin-top: 50px;
  color: white;
}

@media (max-width: 720px) {
  .myPageTitle {
    font-size: 15px;
  }

  .navButtons {
    max-width: 80%;
    padding: 10px;
    justify-content: space-around; /* 작은 화면에서도 버튼을 가로로 배치하고 균일하게 간격 유지 */
    height: 20px;
  }

  .navButton {
    max-width: 30%; /* 작은 화면에서 각 버튼의 최대 너비를 설정 */
    margin: 0; /* 버튼 간격 없애기 */
    font-size: 10px;
  }

  .movieGridContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

/* 로고, 햄버거바, 서치 아이콘 조정 */
.myPageLogo {
  height: 40px; /* 화면이 작을 때 로고 크기 조정 */
  width: 100px;
}

.arl-sidebar-toggle {
  font-size: 35px; /* 화면이 작을 때 햄버거바 폰트 크기 조정 */
  right: 30px; /* 햄버거바 위치 조정 */
}

.arl-searchIcon {
  width: 23px; /* 화면이 작을 때 서치 아이콘 크기 조정 */
  right: 70px; /* 서치 아이콘 위치 조정 */
  margin-top: 10px; /* 위치 조정 */
}
}