.mycalPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myPageLogo {
  width: 150px;
  margin-top: 15px;
  margin-left: 20px;
}

.myPageTitle {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  color: #FBE64D; 
}

.navButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px; /* 컨테이너의 너비를 500px로 고정 */
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 10px; /* 컨테이너의 패딩을 추가하여 버튼 간의 간격을 조정 */
}

.navButton {
  flex: 1; /* 버튼들이 동일한 너비를 가지도록 설정 */
  height: 10px; /* 버튼 높이를 컨테이너 높이에 맞춤 */
  margin: 0 5px; /* 버튼 사이의 간격을 설정 */
  background-color: white;
  color: black; 
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  border: 1px solid white; 
  transition: background-color 0.3s, color 0.3s;
}

.navButton:hover,
.navButton.active {
  background-color: #FBE64D;
  color: black;
}

.recordButton {
  margin-top: 3px;
  padding: 7px 20px;
  background-color: #2F4881;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.recordButton:hover {
  color: #FBE64D; 
  border-color: #FBE64D; 
}

.recordButton:active {
  color: #FBE64D;
  border-color: #FBE64D;
}

.calendar-container {
  border-radius: 8px;
  width: 455px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  padding: 15px 15px 15px; /* 전체 높이에서 30px 줄이기 위해 bottom 패딩 조정 */
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* 달력이 컨테이너 밖으로 삐져나오지 않게 함 */
}

.fc-toolbar-title {
  font-size: 11px; /* 기존 크기에서 5픽셀 줄임 */
  font-weight: lighter;
  color: #000000;
}

.fc .fc-today-button {
  background-color: #FBE64D;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 20px;
  height: 30px;
}

.fc .fc-prev-button,
.fc .fc-next-button {
  font-weight: lighter;
  font-size: 20px;
  height: 30px;
  background-color: #FBE64D;
  color: rgb(0, 0, 0);
}

.fc-day-sun a {
  color: red;
}

.fc .fc-daygrid-day-top {
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
}

.fc-daygrid-day-number {
  font-size: 12px;
  font-weight: lighter;
}

.fc-col-header-cell-cushion {
  font-size: 12px;
}

.fc-toolbar-chunk .fc-button {
  min-width: 30px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.fc-event {
  background-color: #FF69B4; /* 핑크색 */
  border: none;
}

.my-sidebar-toggle {
  position: absolute;
  right: 50px;
  top: 0px;
  background: transparent;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
  padding: 0;
}

.fc .fc-toolbar-title {
  font-size: 1.3em;
  margin: 0px;
}

.fc .fc-daygrid-body {
  padding-bottom: 5px; /* 아래 여백을 2픽셀로 설정 */
}

.fc-daygrid-day-events {
  height: 25px;
}

/* 추가된 스타일 */
.fc .fc-header-toolbar {
  margin-bottom: 5px; /* 상단 여백을 5픽셀로 설정 */
}

.fc .fc-daygrid-day-top {
  margin-bottom: 5px; /* 하단 여백을 5픽셀로 설정 */
}
