.PlatRecom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
  }
  
  .recomlogo {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    width: 250px;
    height: auto;
  }
  
  .recomlogo img {
    width: 220px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 0px;
  }
  
  .sidebar-toggle {
    background: transparent;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding: 0;
    margin-left: 20px;
  }
  
  .greetingText {
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .recom-searchIcon {
    position: absolute;
    right : 70px;
	color : white;
  margin-top: -12px;
  }