.plat-PlatRecom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.plat-pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.plat-recomlogo {
  display: flex;
  justify-content: flex-start;
  width: 250px;
  height: auto;
}

.plat-recomlogo img {
  width: 220px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 0px;
}

.plat-sidebar-toggle {
  background: transparent;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
  padding: 0;
  margin-left: 20px;
}

.plat-greetingText {
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.plat-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  width: 100%;
}

.plat-title {
  color: white;
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 18px;
}

.plat-graphContainer {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 220px;
}

.plat-barGraph, .plat-pieGraph {
  height: calc(100% - 30px);
  width: calc(100% - 40px);
}

.plat-platformQuestion h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

.plat-platformButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.plat-platformButton {
  width: 95px;
  height: 35px;
  background: transparent;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.plat-platformButton:hover,
.plat-platformButton:focus {
  background-color: #FBE64D;
  color: black;
}

.plat-subtitle {
  font-size: 15px;
  color: black;
  margin-bottom: 5px;
  margin-top: -5px;
  text-align: center;
}

.plat-recommendationText p {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2;
  font-weight: bold;
}

.highlighted-text {
  color: #FBE64D;
}

@media (max-width: 720px) {
  .plat-PlatRecom {
    padding: 0px;
  }

  .plat-pageHeader {
    max-width: 100%;
    padding: 0 10px;
  }

  .plat-recomlogo {
    width: 120px;
  }

  .plat-recomlogo img {
    width: 100%;
    margin-bottom: 10px;
  }

  .plat-sidebar-toggle {
    font-size: 30px;
  }

  .plat-content {
    width: 100%;
    padding: 0;
  }

  .plat-title {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .plat-graphContainer {
    width: 80%;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .plat-barGraph, .plat-pieGraph {
    width: 100%;
    height: 100%;
  }

  .plat-platformButtons {
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .plat-platformButton {
    width: 70px;
    height: 25px;
    font-size: 9px;
  }

  .plat-recommendationText p {
    font-size: 12px;
  }

  .plat-subtitle {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .highlighted-text {
    font-size: 14px;
  }

  .plat-platformQuestion h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
