/* 기본 사이드바 스타일 */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color: white; /* 배경색을 하얀색으로 설정 */
    color: black; /* 기본 글씨 색상을 까만색으로 설정 */
    transition: right 0.3s ease;
    z-index: 2000;
}

.sidebar.open {
    right: 0;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.close-button {
    background: none;
    border: none;
    color: black; /* 닫기 버튼 글씨 색상을 까만색으로 설정 */
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.sidebar-logo {
    width: 85px;
    height: auto; /* 비율을 유지하면서 높이를 자동으로 설정 */
    padding-left: 50px;
    padding-top: 10px;
}

.auth-button {
    background-color: #FBE64D; /* 배경색 노란색 */
    color: black; /* 글씨 색상을 까만색으로 설정 */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    margin: 20px; /* 버튼과 리스트 사이의 여백 */
    display: block;
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 11px;
}

.auth-button:hover {
    background-color: #FF00B8; /* 마우스 올리거나 클릭 시 배경색 */
    color: white; /* 마우스 올리거나 클릭 시 글씨 색 */
}

.sidebar ul {
    list-style: none;
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.sidebar ul li {
    margin: 0; /* 기본 마진 제거 */
}

.sidebar ul li a {
    color: black; /* 기본 링크 색상을 까만색으로 설정 */
    text-decoration: none;
    display: block; /* 배경색이 전체 요소를 감싸도록 설정 */
    padding: 20px; /* 텍스트 주위에 약간의 패딩을 추가 */
    border-bottom: 1px solid #ccc; /* 각 링크 요소의 하단에 회색 줄 추가 */
    font-size: 12px;
}

.sidebar ul li a:hover {
    background-color: #FBE64D; /* hover 시 배경 색상을 노란색으로 설정 */
    color: black; /* hover 시 글씨 색상을 까만색으로 유지 */
}

.sidebar-toggle {
    background: transparent;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding: 0;
}

/* 미디어 쿼리 추가: 화면이 작을 때 사이드바 크기 조정 */
@media (max-width: 480px) {
  .sidebar {
    width: 150px; /* 작은 화면에서 사이드바 너비를 줄임 */
  }

  .sidebar-logo {
    width: 70px; /* 작은 화면에서 로고 크기 줄임 */
    padding-left: 25px; /* 패딩 조정 */
    
  }

  .auth-button {
    width: 70px; /* 작은 화면에서 버튼 너비 줄임 */
    height: auto; /* 높이를 자동으로 설정 */
    padding: 5px 10px; /* 상하 패딩을 동일하게 설정하여 글씨가 가운데 정렬되도록 */
    font-size: 10px; /* 글씨 크기 줄임 */
    margin: 10px; /* 여백 줄임 */
    line-height: 1.7; /* 텍스트 줄 높이 설정으로 가운데 정렬 */
  }

  .sidebar ul li a {
    padding: 20px; /* 작은 화면에서 링크 요소의 패딩 줄임 */
    font-size: 10px; /* 글씨 크기 줄임 */
  }

  .close-button {
    font-size: 15px; /* 닫기 버튼 글씨 크기 줄임 */
    margin-right: 0px;
    margin-top: 10px;
  }
}
