.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: white; /* 배경색을 하얀색으로 설정 */
    color: black; /* 기본 글씨 색상을 까만색으로 설정 */
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.close-button {
    background: none;
    border: none;
    color: black; /* 닫기 버튼 글씨 색상을 까만색으로 설정 */
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.sidebar-logo {
    width: 85px;
    height: auto; /* 비율을 유지하면서 높이를 자동으로 설정 */
    padding-left: 90px;
    padding-top: 10px;
}

.auth-button {
    background-color: #FBE64D; /* 배경색 노란색 */
    color: black; /* 글씨 색상을 까만색으로 설정 */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    margin: 20px; /* 버튼과 리스트 사이의 여백 */
    display: block;
    width: 90px;
    height: 35px;
    text-align: center;
    font-size: 15px;
}

.auth-button:hover {
    background-color: #FF00B8; /* 마우스 올리거나 클릭 시 배경색 */
    color: white; /* 마우스 올리거나 클릭 시 글씨 색 */
}

.sidebar ul {
    list-style: none;
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.sidebar ul li {
    margin: 0; /* 기본 마진 제거 */
}

.sidebar ul li a {
    color: black; /* 기본 링크 색상을 까만색으로 설정 */
    text-decoration: none;
    display: block; /* 배경색이 전체 요소를 감싸도록 설정 */
    padding: 20px; /* 텍스트 주위에 약간의 패딩을 추가 */
    border-bottom: 1px solid #ccc; /* 각 링크 요소의 하단에 회색 줄 추가 */
}

.sidebar ul li a:hover {
    background-color: #FBE64D; /* hover 시 배경 색상을 노란색으로 설정 */
    color: black; /* hover 시 글씨 색상을 까만색으로 유지 */
}

.sidebar-toggle {
    background: transparent;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding: 0;
}
